@import 'stylesheets/variables';

.app-Tracker {
  display: flex;
  flex-direction: row;
  margin: 10px 0;
  user-select: none;
  cursor: pointer;

  &:hover > div {
    box-shadow: $shadow;
    background-color: lighten($blue, 8%);
  }

  &:active > div {
    box-shadow: inset $shadow;
    background-color: darken($blue, 3%);
  }

  &-selected > div,
  &-selected:hover > div {
    box-shadow: inset $shadow;
    background-color: darken($blue, 3%);
  }

  &-time {
    transition: all 0.15s ease-in-out;
    background-color: lighten($blue, 5%);
    margin-left: 1.5px;
    writing-mode: tb-rl;
    text-align: center;
    padding: 0 8px;
  }

  &-details {
    transition: all 0.15s ease-in-out;
    margin-right: 1.5px;
    background-color: lighten($blue, 5%);
    display: flex;
    flex-flow: row wrap;
    flex-grow: 1;
    justify-content: space-between;
    padding: 0 12.88px;
  }
}
